* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

header {
  margin-top: 64px;
  border-bottom: 8px solid hsl(0deg, 0%, 40%);
}

main {
  padding-top: 64px;
  background-color: hsl(0deg, 0%, 60%);
}

h1 {
  padding-bottom: 32px;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

.indented-heading {
  padding-top: 16px;
  padding-right: 24px;
  padding-bottom: 16px;
  padding-left: 24px;
  margin-top: -8px;
  margin-left: -24px;
  background-color: hsl(45deg, 100%, 50%);
  width: fit-content;
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
}

.max-width-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 640px;
  padding-bottom: 48px;
}

.intro-chunk {
  max-width: 330px;
  padding-left: 16px;
}

.card {
  background-color: hsl(0deg, 0%, 100%);
  border-bottom: 8px solid hsl(0deg, 0%, 40%);
  padding: 16px;
}
